body
{
	padding : 2%;
	width:80%;
}


.sw-card
{
	margin : 4% 0;
}

.sw-card .img
{
	border-radius:50%;
	width:44px;
	height:44px;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	margin: 0 2% 0 0;
}

.sw-card h1,
.sw-card h2
{
	margin:0;
}

.sw-card h1
{
	font-size:1.3em;
	line-height:1.3em;
}

.sw-card h2
{
	font-size:1em;
}